.pub-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
    margin-bottom: 10px;
    margin-top: -30px;
}

.pub-links a {
    padding: 4px;
    border-radius: 3px;
}

.pub-links a:hover {
    background-color: rgb(243, 243, 243);
}

.grid-box {
    display: flex;
    justify-content: center;
    align-items: top;

    position: relative;

    margin-bottom: 30px;
}


.img-box {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    padding-top: 10px;
}

.img-box img {
    width: auto;
    height: auto; 
    max-height: 300px;
    max-width: 350px;
    padding: 0px 10px;
}

.caption {
    color: teal;
    text-align: center;
}

.text-box {
    width: 100%;
    padding: 10px;
}

.project-title {
    font-size: 24px;
    font-weight: 700;
}

.student-subtitle {
    font-size: 16px;
    color: gray;
}

.description {
    font-size: 20px;
    text-align: justify;
    margin-top: 10px;
}

.description sup {
    font-size:12;
}

.publication {
    color: gray;
    font-style: italic;
    margin-top: 10px
}

.link {
    margin-top: 15px;
}
