.grid-box {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    margin-bottom: 30px;
}


.img-box {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-box img {
    width: auto;
    height: auto; 
    max-height: 250px;
    max-width: 300px;
}

.caption {
    color: teal;
    text-align: center;
}

.text-box {
    width: 100%;
    padding: 10px;
}

.project-title {
    font-size: 26px;
    font-weight: 700;
}

.student-subtitle {
    font-size: 16px;
    color: gray;
}

.description {
    font-size: 20px;
    text-align: justify;
    margin-top: 10px;
}

.description sup {
    font-size:12;
}

.publication {
    color: gray;
    font-style: italic;
    margin-top: 10px
}

.publication a {}

.link {
    margin-top: 15px;
}
