.cv-link-teaching {
    display: flex;
    justify-content: flex-start;
    margin-top: -30px;
}

.cv-link-teaching img {
    width: 15px;
    margin: 0px 2px;
}

.diagram-flex-container {
    display: flex;
    width: 100%; /* Full width of viewport */
    height: auto;

    justify-content: flex-start;
    align-items: flex-start;
}

.teaching-diagram {
    flex: 1;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    width: auto;
}

.teaching-diagram img {
    width: 100%;
    height: auto;
    max-height: 1000px;
    max-width: 1000px;
    display: block;
    object-fit: contain;
}